@model TrafficJam




<form asp-action="Add" asp-controller="TrafficJams" method="post">

    <label>asp-for=@Model.Degree</label>
    <input asp-for=@Model.Degree />
    <label>asp-for=@Model.Street</label>
    <input asp-for=@Model.Street />

    <button type="submit">Add</button>

</form>