@model Film

<form asp-action="DeleteFilmByIdI" asp-controller="Films" method="post"  >
    <div class=" form-group">
        <label>Id</label>
        <input class="form-control" asp-for='@Model.Id' />
    </div>
    <button class="btn btn-success" type="submit">Delete film by id</button>

</form>