@model Film

<form >
    <div class=" form-group">
        <label>Id</label>
        <input class="form-control" asp-for='@Model.Id'/>
    </div>
    <button asp-action="GetFilmById" asp-controller="Films" method="get" class="btn btn-success" type="submit">Get film by id</button>

</form>
