
<div class="text-center">
    <a class="btn btn-primary" asp-action="GetFilms" asp-controller="Films">Get all films</a>
    <a class="btn btn-primary" asp-action="AddFilm" asp-controller="Films">Add film</a>
    <a class="btn btn-primary" asp-action="GetFilmByIdI" asp-controller="Films">Get film by id</a>
    <a class="btn btn-primary" asp-action="GetFilmsByCinemaI" asp-controller="Films">Get films by cinema</a>
    <a class="btn btn-primary" asp-action="DeleteFilmById" asp-controller="Films">Delete film by id</a>
</div>