
<div class="text-center">
    <a class="btn btn-primary" asp-action="GetSalaryRecords" asp-controller="SalariesSurvey">Get all salary records</a>
    <a class="btn btn-primary" asp-action="PostSalaryRecord" asp-controller="SalariesSurvey">Report salary</a>
    <a class="btn btn-primary" asp-action="GetSalaryRecordById" asp-controller="SalariesSurvey">Get salary by id</a>
    <a class="btn btn-primary" asp-action="DeleteSalaryById" asp-controller="SalariesSurvey">Delete salary by id</a>
</div>